  .dropdown {
    position: relative;
    margin-bottom: 20px;
  }
  
  .dropdown label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .dropdown select {
    width: calc(100% - 20px); /* Adjust width as needed */
    padding: 8px;
    font-size: 14px; /* Decrease font size for better fit */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none; /* Remove default styles for select */
    -webkit-appearance: none; /* For older versions of Safari */
    -moz-appearance: none; /* For older versions of Firefox */
  }
  
  /* Custom dropdown arrow */
  .dropdown select::after {
    content: "\25BC"; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
  }
  
  /* Style options */
  .dropdown select option {
    padding: 8px;
  }
  