.header {
    background-color: #0d47a1;
    padding: 20px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .header h1 a:hover {
    color: #ff3d00; 
  }
  