.total-income {
  margin-bottom: 20px;
}

.total-income h2 {
  margin-top: 20px; 
  font-size: 20px;
  color: #2c3e50;
}

.total-income p {
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
}
